#titulo{
    background-color: rgb(17, 116, 166);
    padding: 5px;
    
}

#tabla1{
    margin-left: 5%;
    margin-right: 5%;
    

}

#tbody1{
    background-color: rgb(233, 233, 233);
}
#bold{
    font-weight: bold;
}

#tablaGeneral{
    margin-top: 5%;
    width: 100%;
    align-content: top;

}
#card{
    align-content: left;
    width: 50%;

    margin-right: 2%;
}